<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swimming Blog</title>
</head>
<body>
    {{!-- Show the view from hbs --}}
    {{{body}}}
</body>
</html>