<h3><i class="fas fa-swimmer"></i> Swimming Blog</h3>
<div class="section">
    <p class="lead">Create a blog about your swimming experiences</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/" class="btn green darken-3">
        <i class="fab fa-google left">
            Login with Google
        </i>
    </a>
</div>